<div class="modal fade" id="VerifyModal" tabindex="-1" role="dialog" aria-labelledby="VerifyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VerifyModalLabel">Verify!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag('/post_verifications/', {method: 'put', class: 'form-inline', id: 'verification_form'}) do %>
          <%= text_field_tag 'verification_code', nil, id: 'verification_code_input', class: 'mb-3 mr-sm-3 form-control' %>
          <%= submit_tag 'Submit', class: 'btn btn-primary mb-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>